@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
body {
    font-family: 'Oswald', sans-serif;
}

.widgetWrap {
    background: #ffa094;
    height: auto;
    margin-bottom: 10px;
}

.widgetTitle {
    border-bottom: 1px solid #665151;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 10px;
    color: blue;
}

.widgetValue .value {
    font-size: 37px;
    font-weight: 400;
    text-align: left;
    padding: 0px 7px;
    line-height: 100%;
}

.description {
    text-align: left;
    font-size: 12px;
    padding-left: 13px;
}

.widgetValue {
    padding-top: 10px;
    padding-bottom: 10px;
    display: table;
    align-items: revert;
    height: auto;
    padding-left: 10px;
}

.value {
    color: purple;
}

text {
    fill: white;
}

.TopHeader .row {
    background: #2a2a2a;
    margin-bottom: 19px;
    padding: 10px 15px;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
}

.Dropdown-root {
    font-size: 15px;
    width: 142px;
    float: right;
}

.TopHeader {
    padding: 17px;
    font-size: 35px;
    background-color: #2a2a2a;
    color: white;
    font-weight: bold;
}